<h2>Sign Up</h2>
<form [formGroup]="signUpForm" (ngSubmit)="signUp($event)">
  <input placeholder="Username *" formControlName="username" id="username" name="username" type="text" required>
  <input placeholder="Password *" formControlName="password" id="password" name="password" type="password" required>
  <input placeholder="Email" formControlName="email" id="email" name="email" type="email">
  <button type="submit">Sign Up</button><br>
  <p>Provide a valid email address in case you forget your password for account recovery.</p>
  <p *ngIf="signUpError" class="error">{{ signUpError }}</p>
  <a routerLink="/signin">Already have an account?</a>
</form>