<h2>Forgot Password</h2>
<form (ngSubmit)="submitForgotPassword($event)">
  <ng-container *ngIf="!forgotPasswordSuccess; else successfulSubmission">
    <input placeholder="Username *" [(ngModel)]="username" id="username" name="username" type="text" required>
    <button type="submit">Submit</button><br>
    <p *ngIf="forgotPasswordError">{{ forgotPasswordError }}</p>
  </ng-container>
  <ng-template #successfulSubmission>
    <h3>Success!</h3>
    <p>Please check your email for reset password instructions.</p>
  </ng-template>
  <a routerLink="/signin">Back to Sign In</a>
</form>